{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo - Single Thing

{% endblock %}

{% block content %}

    <article>

        <h2>{{ thing.name }}</h1>
        <P>{{ thing.price }}</P>
        <a role="button" href="/thing/delete/{{ thing.id }}">Delete</a>

    </article>
    <a role="button" href="/">Back to Things</a>

{% endblock %}